body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 100%;
}

a {
  text-decoration: none;
}

.menu-icon a {
  color: white;
}

.container {
  display: flex;
  border: 1px solid;
  flex-direction: column;

  /* width: 375px; */
  background-color: rgb(1, 1, 61);
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
}

.language {
  width: 110px;
}

.framework {
  width: 110px;
}

.tools {
  width: 110px;
}

@media (min-width: 1000px) {
  .language {
    width: 160px;
  }

  .framework {
    width: 160px;
  }

  .tools {
    width: 160px;
  }

  .skill-container {
    padding-left: 70px;
  }

  .breakline-skill {
    width: 447px;
  }
}

h3 {
  color: rgba(125, 115, 252, 1);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.break-about {
  margin: 0 24px 0 24px;
}

.lan-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lan-container li {
  padding-bottom: 8px;
}

.fra-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.fra-container li {
  padding-bottom: 8px;
}

.to-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.to-container li {
  padding-bottom: 8px;
}

.lan-container > div {
  padding-bottom: 3px;
}

.fra-container > div {
  padding-bottom: 3px;
}

.to-container > div {
  padding-bottom: 3px;
}

.break-skill {
  margin: 33px 24px 33px 24px;
}

.toolbar-container {
  display: flex;
  flex-direction: row;

  /* margin-top: 40px; */
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  width: 100vw;
  height: 75px;
  background-color: rgb(1, 1, 61);
}

.toolbar-container div {
  margin-top: 30px;
  margin-left: 24px;
}

.toolbar-container ul {
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 25px;
}

.toolbar-container ul li {
  padding-right: 15px;
}

@media screen and (min-width: 1000px) {
  .toolbar-container img {
    display: none;
  }

  .headline-container {
    animation-name: wave;
    animation-duration: 3s;
    background-image: url("img/desktop/home-left-top.svg"), url("img/desktop/home-right-bottom.svg");
    opacity: 1;
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
  }

  @keyframes wave {
    from {
      background-image: url("img/desktop/home-left-top.svg"), url("img/desktop/home-right-bottom.svg");
      opacity: 0.1;
      background-repeat: no-repeat, no-repeat;
      background-position: center center, center center;
    }

    to {
      background-image: url("img/desktop/home-left-top.svg"), url("img/desktop/home-right-bottom.svg");
      opacity: 1;
      background-repeat: no-repeat, no-repeat;
      background-position: left bottom, right top;
    }
  }

  .work-container {
    background-image: url("img/desktop/work1-left.svg"), url("img/desktop/work2-right.svg"),
      url("img/desktop/work3-left.svg"), url("img/desktop/work4-right.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left 200px, right, left 1650px, right 1800px;
  }
}

@media (max-width: 1000px) {
  .container {
    background-image: url("img/mobile/home-left-top.svg"), url("img/mobile/skill-right.svg"),
      url("img/mobile/work1-left.svg"), url("img/mobile/work2-right.svg"), url("img/mobile/work3-left.svg"),
      url("img/mobile/work4-right.svg");
    background-position: left 100px, right 500px, left 1000px, right 1800px, left 2500px, right 3100px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  }
}

@media screen and (max-width: 1000px) {
  .toolbar-container ul .li-item {
    display: none;
  }
}

.logo {
  color: white;
  margin-top: 10px;
  margin-left: 24px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
}

.logo:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(4, 6, 110);
}

.menu-icon {
  justify-self: flex-end;
  margin-right: 39.33px;
}

@media (min-width: 1000px) {
  .logo {
    margin-left: 154px;
  }

  .menu-icon {
    margin-right: 154px;
  }
}

.menu-icon:hover {
  cursor: pointer;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;
}

.headline-name {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  color: rgba(125, 115, 252, 1);
  margin-top: 60px;
  margin-bottom: 0;
}

.identity {
  height: 87px;
  font-size: 32px;

  /* font-style: medium; */
  color: white;
  margin-top: 22px;
  margin-bottom: 0;
}

.description {
  font-family: "Roboto", Arial, sans-serif;
  margin-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

  /* letter-spacing: 0em; */
  text-align: center;
  color: rgba(200, 200, 212, 1);
}

@media screen and (min-width: 1000px) {
  .headline-name {
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 105px;
    letter-spacing: 0;
    text-align: center;
  }

  .identity {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0;
    text-align: center;
  }

  .description {
    line-height: 32px;
    width: 447px;
  }
}

.break-headline {
  margin: 33px 24px 33px 24px;
}

hr {
  border: 1px solid rgba(100, 99, 105, 1);
}

.skill {
  color: white;
}

/* .about-section {
  background-image: url("img/Ellipse-small.svg");
  background-repeat: no-repeat;
  background-position: right;
} */

.contact-container {
  display: flex;
  justify-content: center;
}

.work-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: rgba(162, 163, 174, 1);
}

.work-link-container {
  display: flex;
  justify-content: center;
}

.work-link-container > img {
  margin-right: 5px;
}

.work-link-container > a {
  margin-left: 5px;
}

.github:hover {
  cursor: pointer;
}

.linkin:hover {
  cursor: pointer;
}

.gesture:hover {
  cursor: pointer;
}

.twitter:hover {
  cursor: pointer;
}

.m:hover {
  cursor: pointer;
}

.work-container {
  display: grid;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
  color: rgba(148, 144, 255, 1);

  /* margin-left: 24px;
  margin-right: 24px; */
}

.work-section-headline {
  margin-top: 150px;
  margin-left: 24px;
}

.breakline-work {
  margin: 0 24px 33px 24px;
  border: 1px solid rgba(100, 99, 105, 1);
}

@media (min-width: 1000px) {
  .work-section-headline {
    margin-left: 142px;
  }

  .breakline-work {
    margin: 0 142px 33px 142px;
  }
}

.flex {
  display: flex;
}

.work1 {
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;

  /* background-image: url("img/Ellipse-long.svg");
  background-repeat: no-repeat;
  background-position-y: 70px; */
}

@media only screen and (min-width: 1000px) {
  .work1 {
    flex-direction: row;
    margin-left: 142px;
    margin-right: 142px;
  }

  #work1text {
    flex-basis: 50%;
    flex-shrink: 1;
  }

  #work1img {
    flex-basis: 50%;
    flex-shrink: 3;
    height: auto;
  }
}

.work-name {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  color: white;
  margin-left: 24px;
  margin-right: 24px;
}

.work-description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(220, 220, 232, 1);
  margin-left: 24px;
  margin-right: 24px;
}

.work-skills {
  font-family: "Inter", Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  height: 48px;
}

.gird {
  border-right: 1px solid rgba(100, 99, 105, 1);
  padding-top: 15px;
}

.grid0 {
  padding-top: 15px;
}

button {
  background-color: rgba(125, 115, 252, 1);
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  width: 89px;
  height: 48px;
  margin-left: 24px;
}

.work2 {
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;

  /* background-image: url("img/Ellipse-long.svg");
  background-repeat: no-repeat;
  background-position-y: 70px; */
}

@media only screen and (min-width: 1000px) {
  .work2 {
    flex-direction: row-reverse;
    margin-left: 142px;
    margin-right: 142px;
  }

  #work2text {
    flex-basis: 50%;
    flex-shrink: 1;
  }

  #work2img {
    flex-basis: 50%;
    flex-shrink: 3;
    height: auto;
  }
}

.work3 {
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;

  /* background-image: url("img/Ellipse-long.svg");
  background-repeat: no-repeat;
  background-position-y: 70px; */
}

@media only screen and (min-width: 1000px) {
  .work3 {
    flex-direction: row;
    margin-left: 142px;
    margin-right: 142px;
  }

  #work3text {
    flex-basis: 50%;
    flex-shrink: 1;
  }

  #work3img {
    flex-basis: 50%;
    flex-shrink: 3;
    height: auto;
  }
}

.work4 {
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;

  /* background-image: url("img/Ellipse-long.svg");
  background-repeat: no-repeat;
  background-position-y: 70px; */
}

@media only screen and (min-width: 1000px) {
  .work4 {
    flex-direction: row-reverse;
    margin-left: 142px;
    margin-right: 142px;
  }

  #work4text {
    flex-basis: 50%;
    flex-shrink: 1;
  }

  #work4img {
    flex-basis: 50%;
    flex-shrink: 3;
    height: auto;
  }
}

.about-section > p {
  margin-left: 24px;
  margin-right: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

form input {
  margin-bottom: 20px;
  height: 48px;
  border: none;
  width: 327px;
  padding-left: 16px;
}

form textarea {
  margin-bottom: 20px;
  height: 148px;
  width: 327px;
  padding-left: 16px;
  padding-top: 16px;
}

form button {
  width: 89px;
  height: 48px;
  position: static;
  background-color: #7d73fc;
  color: #fff;
  margin-left: 0;
}

.contact h2 {
  /* margin-left: 65px; */
  margin-top: 100px;
  margin-bottom: 0;
}

.contact p {
  font-family: "Inter", Arial, sans-serif;
  margin-bottom: 45px;
  margin-left: 24px;
  margin-right: 24px;
  color: rgba(245, 245, 255, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

input[type="email"]::placeholder {
  color: rgba(25, 23, 101, 1);
}

button:hover {
  cursor: pointer;
  background-color: rgba(245, 245, 255, 1);
  color: black;
}

@media (min-width: 1000px) {
  form input {
    width: 684px;
  }

  form textarea {
    width: 684px;
  }

  .contact p {
    font-size: 20px;
    line-height: 28px;
    width: 684px;
  }

  form button {
    width: 160px;
    height: 48px;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 1, 61);
  background-image: url("img/mobile/mobile-menu-right.svg"), url(img/mobile/mobile-menu-left.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.mobile-menu .flex {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
}

#cross-icon {
  margin-left: 85%;
}

.mobile-menu .flex li {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.mobile-menu .flex a {
  text-decoration: none;
  color: white;
}

.list-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#popup-window {
  display: none;
}

#popup-square {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 100;
  height: 90vh;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(100px);
}

.content {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 200;
  height: 90vh;
  width: 90vw;
  background-color: transparent;
  border: white solid 1px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#windowhead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#closewindow {
  margin-left: 30vw;
}

.content h2 {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

#windowbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#windowimg {
  width: 80vw;
  height: 30vh;
  object-fit: cover;
}

.content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin: 20px;
}

.content ul {
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  border-left: grey solid 1px;
}

.content ul li {
  margin-right: 20px;
  border-right: grey solid 1px;
  padding-right: 20px;
}

#windowfoot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  #windowfoot {
    flex-direction: row;
    justify-content: center;
  }

  .content h2 {
    font-size: 40px;
  }

  #windowimg {
    width: 80vw;
    height: 40vh;
    object-fit: cover;
  }
}

.content button {
  width: auto;
}

.content button a {
  text-decoration: none;
  color: white;
}

.content button img {
  padding-top: 5px;
  padding-left: 7px;
}

button a:hover {
  cursor: pointer;
  background-color: rgba(245, 245, 255, 1);
  color: black;
}
