body {
  font-family: "Roboto", Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 100%;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  border: 1px solid;
  /* width: 375px; */
  background-color: rgb(4, 6, 110);
  flex-direction: column;
  background-image: url("img/Ellipse-large.svg");
  background-repeat: no-repeat;
}

.toolbar-container {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.logo {
  color: white;
  margin-left: 24px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
}

.logo:hover {
  cursor: pointer;
}

.menu-icon {
  justify-self: flex-end;
  margin-right: 39.33px;
}

.menu-icon:hover {
  cursor: pointer;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.headline-name {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  color: rgba(125, 115, 252, 1);
  margin-top: 60px;
  margin-bottom: 0;
}

.identity {
  height: 87px;
  font-size: 32px;

  /* font-style: medium; */
  color: white;
  margin-top: 22px;
  margin-bottom: 0;
}

.description {
  margin-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

  /* letter-spacing: 0em; */
  text-align: center;
  color: rgba(200, 200, 212, 1);
}

.break-headline {
  margin: 33px 24px 33px 24px;
}

hr {
  border: 1px solid rgba(100, 99, 105, 1);
}

.skill {
  color: white;
}

.about-section {
  background-image: url("img/Ellipse-small.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
}

.language {
  width: 84px;
  margin-left: 43.17px;
}

.framework {
  width: 84px;
  margin-left: 43.17px;
}

.tools {
  width: 84px;
  margin-left: 43.17px;
}

h3 {
  color: rgba(125, 115, 252, 1);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.break-about {
  margin: 0 24px 0 24px;
}

.lan-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lan-container > li {
  padding-bottom: 8px;
}

.fra-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.fra-container > li {
  padding-bottom: 8px;
}

.to-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.to-container > li {
  padding-bottom: 8px;
}

.lan-container > div {
  padding-bottom: 3px;
}

.fra-container > div {
  padding-bottom: 3px;
}

.to-container > div {
  padding-bottom: 3px;
}

.break-skill {
  margin: 33px 24px 33px 24px;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.work-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: rgba(162, 163, 174, 1);
}

.work-link-container {
  display: flex;
  justify-content: center;
}

.work-link-container > img {
  margin-right: 5px;
}

.work-link-container > a {
  margin-left: 5px;
}

.github:hover {
  cursor: pointer;
}

.linkin:hover {
  cursor: pointer;
}

.gesture:hover {
  cursor: pointer;
}

.twitter:hover {
  cursor: pointer;
}

.m:hover {
  cursor: pointer;
}

.work-container {
  display: grid;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
  color: rgba(148, 144, 255, 1);
  margin-left: 24px;
  margin-right: 24px;
}

.breakline-work {
  margin: 33px 24px 33px 24px;
}

.flex {
  display: flex;
}

.work1 {
  flex-direction: row;
  background-image: url("img/Ellipse-long.svg");
  background-repeat: no-repeat;
  background-position-y: 70px;
}

.work1 > img {
  margin-left: 24px;
  margin-right: 24px;
}

.work-name {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  color: white;
  margin-left: 24px;
  margin-right: 24px;
}

.work-description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(220, 220, 232, 1);
  margin-left: 24px;
  margin-right: 24px;
}

.work-skills {
  font-family: "Inter", Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  height: 48px;
}

.gird {
  border-right: 1px solid rgba(100, 99, 105, 1);
  padding-top: 15px;
}

.grid0 {
  padding-top: 15px;
}

button {
  background-color: rgba(125, 115, 252, 1);
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  width: 89px;
  height: 48px;
  margin-left: 24px;
}

.work2 {
  flex-direction: row-reverse;
  margin-top: 45px;
  background-image: url("img/Ellipse-shallow.svg");
  background-repeat: no-repeat;
  background-position-y: 200px;
}

.work2 > img {
  margin-left: 24px;
  margin-right: 24px;
}

.work3 {
  flex-direction: row;
  background-image: url("img/Ellipse-22.svg");
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 45px;
}

.work3 > img {
  margin-left: 24px;
  margin-right: 24px;
}

.work4 {
  flex-direction: row-reverse;
  background-image: url("img/Ellipse-20.svg");
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 45px;
}

.work4 > img {
  margin-left: 24px;
  margin-right: 24px;
}

.about-section > p {
  margin-left: 24px;
  margin-right: 24px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 327px;
}

form input {
  margin-bottom: 20px;
  height: 48px;
  border: none;
}

form textarea {
  margin-bottom: 20px;
  height: 148px;
}

form button {
  width: 89px;
  height: 48px;
  margin-left: 110px;
  position: static;
  background-color: #7d73fc;
  color: #fff;
}

.contact h2 {
  margin-left: 65px;
  margin-top: 100px;
  margin-bottom: 0;
}

.contact p {
  font-family: "Inter", Arial, sans-serif;
  margin-bottom: 45px;
  margin-left: 24px;
  margin-right: 24px;
  color: rgba(245, 245, 255, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 16px;
}

input[type="email"]::placeholder {
  color: rgba(25, 23, 101, 1);
}

button:hover {
  cursor: pointer;
}
